.custom-input{
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin-left: 1.9rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1.5rem;
    padding-left: 0.5rem;
    height: 3rem;
    @media  screen and (max-width:1110px) {
        max-width: 35rem;
        
    }
    @media  screen and (max-width:870px) {
        max-width: 25rem;
        
    }
    &__suggestion{
        width:calc(100% - 4rem);
        margin:0 auto;
        &--item{
            height: 2.5rem;
            background-color: white;
            padding-top: 0.5rem;
            padding-left: 1rem;
            &:hover{
                background-color: rgb(194, 234, 234);
            }
            cursor: pointer;
        }

    }
    &__input--field{
        
        border: 0;
        width: 100%;
        border-radius: 2rem;
        height: 3rem;
        background-color: transparent;
        width: calc(100% - 5rem);
        display: flex;
        @media  screen and (max-width:1110px) {
        height: 2.5rem;
            
        }
        @media  screen and (max-width:870px) {
            max-width: 1.5rem;
            
        }
        
    }
    &__input--field{
        outline: none;
        border: 0;

    }
    

}

.custom-sendicons{
    display: inline;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    max-height: 90%;

}
.max-height-90{
    max-height: 90%;
}