.msg-body{
    overflow: auto;
    padding-bottom: 2rem;
}
.custom-inputbox{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    
}
.scroll--margin{
    padding-bottom: 8.2rem;

}
